---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/sitemap.xsl"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in collections.all %}
  <url>
    <loc>{{ page.url | canonical }}</loc>
    <lastmod>{{ page.data.sitemap.lastmod or page.date.toISOString() }}</lastmod>
    <changefreq>{{ page.data.sitemap.changefreq or "monthly" }}</changefreq>
    <priority>{{ page.data.sitemap.priority or "0.5" }}</priority>
  </url>
  {% endfor %}
</urlset>
