---
title: ivoputzer.blog
layout: page
pagination:
  data: collections.articles
  size: 5
  reverse: true
sitemap:
  priority: 1
  changes: daily
---
<style>
  main article footer {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0 0 0;
    font-family: 'Merriweather Sans',sans-serif;
  }

  main article footer :first-child {
    flex: 1;
  }

  .publication-date,
  .reading-time {
    font-size: 1rem;
    align-self: flex-end;
    margin-left: 2rem;
  }

  .publication-date time,
  .reading-time span {
    background: var(--brand-color-primary);
    color: #fff;
    padding: .2rem 1.1rem;
  }
</style>
<main class="fade-in">
{% for article in pagination.items %}
  <article>
    <div>
      <header>
        <h1>
          <a href="{{ article.url | url }}">
            {{ article.data.title }}
          </a>
        </h1>
      </header>

      {% excerpt article.templateContent %}

      <footer>
        <span>
          <a class="cta" style="line-height: 1.15" href="{{ article.url | url }}">
            Continue reading...
          </a>
        </span>
        <span class="reading-time">
          Reading Time <span>{{ article | readingTime }}</span>
        </span>
        <span class="publication-date">
          Published Since <time datetime="{{ article.date.toISOString() }}">{{ article.date | date('YYYY-MM-DD') }} </time>
        </span>
      </footer>
  </article>
{% endfor %}
</main>
