* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  color: #333;
  font-family: Helvetica,sans-serif;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img {
  width: 40vw;
  max-width: 500px;
  border-radius: 50%;
}

header {
  width: 40vw;
  max-width: 500px;
  background: #333;
  color: white;
  margin-top: -2rem;
  padding: 0 .5rem;
  transform: skewY(-5deg);
  text-align: center;
}

@media only screen and (orientation: portrait) {
  img {
    width: 75vw;
  }
  header {
    width: 75vw;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: red;
  text-align: center;
  background: #333;
  color: white;
  padding: .75rem;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
