
<footer>
  <ul>
    <li class="twitter">
      <a href="{{ config.twitter.url }}">
        {% include "svg/twitter.svg" %}
      </a>
    </li>
    <li class="github">
      <a href="{{ config.github.url }}">
        {% include "svg/github.svg" %}
      </a>
    </li>
    <li class="npm">
      <a class="bigger" href="{{ config.npm.url }}">
        {% include "svg/npm.svg" %}
      </a>
    </li>
    <li class="instagram">
      <a href="{{ config.instagram.url }}">
        {% include "svg/instagram.svg" %}
      </a>
    </li>
    <li class="linkedin">
      <a href="{{ config.linkedin.url }}">
        {% include "svg/linkedin.svg" %}
      </a>
    </li>
    <li class="telegram">
      <a href="{{ config.telegram.url }}">
        {% include "svg/telegram.svg" %}
      </a>
    </li>
    <li class="stackoverflow">
      <a href="{{ config.stackoverflow.url }}">
        {% include "svg/stackoverflow.svg" %}
      </a>
    </li>
    <li class="codepen">
      <a href="{{ config.codepen.url }}">
        {% include "svg/codepen.svg" %}
      </a>
    </li>
    {#
    <li class="rss">
      <a href="/rss.xml">
        {% include "svg/rss.svg" %}
      </a>
    </li>
     #}
    <li class="coinbase">
      <a class="bigger" href="{{ config.coinbase.referral }}">
        {% include "svg/coinbase.svg" %}
      </a>
    </li>
    <li class="brave">
      <a href="{{ config.brave.referral }}">
        {% include "svg/brave.svg" %}
      </a>
    </li>
  </ul>
</footer>
