<nav>
  <figure>
    <span class="no-portrait">@ivoputzer<small>(.blog)</small></span>
  </figure>
  <ul>
    <li class="{{ 'active' if page.url == '/whoami/' }}"><a href="{{ '/whoami/' | url }}">whoami</a></li>
    <li class="{{ 'active' if page.url != '/whoami/' }}"><a href="{{ '/' | url }}">articles</a></li>
    <li class=""><a href="#" onclick="confirm('This page requires IPFS. This viewport is not compatilble. Using gateway (https://ipfs.ivoputzer.xyz) to process this request!')">crypto</a></li>
    <li class=""><a href="#">xyz</a></li>
  </ul>
</nav>
