* {
  box-sizing:border-box;
}

:root {
  --color-scheme: 'light';
  --bg-color: #fff;
  --bg-color-semitransparent: rgba(255, 255, 255, 0.85);
  --bg-color-secondary: #f7f7f9;
  --text-color: #373a3c;
  --text-color-secondary: #818a91;
  --border-color: #eceeef;
  --brand-color-primary: #ff335f;
  --brand-color-primary-offset: #ff1447;
  --brand-color-secondary: #43a9a3
}

::-moz-selection {
  background:var(--brand-color-secondary);
  color:#fff
}

::selection {
  background:var(--brand-color-secondary);
  color:#fff
}

::-moz-selection {
  background:var(--brand-color-secondary);
  color:#fff
}
