---
layout: base
---
<article class="fade-in">
  <header>
    {% if image %}
    <img src="{{ image.src }}" alt="{{ image.alt or title }}">
    {% endif %}
    <h1>{{ title }}</h1>
    {% excerpt content %}
  </header>
    {% body content %}
</article>
