---
layout: base
---
<article class="fade-in">
  <header>
    {% if cover %}
      <img src="{{ cover.src }}" alt="{{ cover.alt }}">
    {% endif %}
    <h1>{{ title }}</h1>
    {% excerpt content %}
  </header>
    {% body content %}
</article>
