<!DOCTYPE html>
<html lang="{{ meta.lang or config.meta.lang }}">
{% include "head.njk" %}
<body>
  <!--
    Looks like you're an inspector? 🕵️
    You might want to have a look at the sources {{ config.repository }}
  -->
  {% include "nav.njk" %}
  {{ content | safe }}
  {% include "footer.njk" %}
</body>
</html>
